<a href="/home">
  <img src="images/hc.png" alt="img2" id="histBlockImg" class="imageBlock">
</a>
<div class="pseudojumbo">
  <!-- <div class="jumbotron"> -->

 <div id="intro">
    <h1>Welcome to the Museum</h1>
    <h3>Creatures of Night, Broguht to Light</h3>
    <h2>It turns out, monsters are the real monsters./h2>
  </div>

<!--

{{#each answsers}}
  	<p>
  		{{this.Author}}
  	</p>
{{/each}} -->

<footer class="footer">
  <div class="container">
    <span class="text-muted"><a href="/login" id="adminL">Administrative Log-In</a></span>
  </div>
</footer>
